@font-face {
    font-family: 'numberFont';
    src: url('fonts/jerseym54.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/jerseym54.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/jerseym54.ttf') format('truetype');
}

body, html {
    margin: 0;
    width: 100%;
}

.table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: fit-content;
    margin: 1% auto;
    border: 7px solid white;
    padding: 2px;
    /* filter:  */
}

.table-start-1 {
    border: 7px solid black;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 15s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

.table-start-2 {
    border: 7px solid black;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 25s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

.table-start-3 {
    border: 7px solid black;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 35s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

.num-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.num-cell {
    display: flex;
    width: 10vh;
    min-width: 52px;
    min-height: 10vh;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 1px;
    border-radius: 3px;
    /* filter: drop-shadow(black 2px 4px 6px); */
    background-image: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    -webkit-animation: rainbow 9s ease infinite;
    -z-animation: rainbow 9s ease infinite;
    -o-animation: rainbow 9s ease infinite;
    animation: rainbow 9s ease infinite;
    background-size: 1800% 1800%;
    transform: perspective(1000px);
    transform-style: preserve-3d;
    z-index: 0;
}

.num-cell-2 {
    width: 8vh;
    /* min-width: 52px; */
    min-height: 8vh;
}

.num-cell-3 {
    width: 6vh;
    /* min-width: 52px; */
    min-height: 6vh;
}

.num-type-1 {
    color: blue;
}

.num-type-2 {
    color: green;
}

.num-type-3 {
    color: red;
}

.num-type-4 {
    color: purple;
}

.num-type-5 {
    color: black;
}

.num-type-6 {
    color: maroon;
}

.num-type-7 {
    color: gray;
}

.num-type-8 {
    color: turquoise;
}

.inner-num {
    min-width: 2vh;
    min-height: 1vh;
    background-color: white;
    /* border: 3px solid rgba(0, 0, 0, 0.75); */
    border-radius: 24px;
    transform: translateZ(20px);
    font-family: 'numberFont', Fallback, sans-serif;
    text-align: center;
    font-size: 40px;
    padding: 6px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: auto;
    align-items: center;
    font-family: 'numberFont', Fallback, sans-serif;
    font-size: 20px;
    margin: 1vh auto;
}

.zTimer {
    text-align: center;
    /* margin: auto 5vh auto 3vh; */
    padding: 2vh;
    /* border: 3px solid black;
    border-radius: 80%; */
    min-width: 5vh;
    flex-basis: auto;
}

.diffBar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 1% auto;
    justify-content: space-around;
}

.diffButton {
    text-transform: uppercase;
    /* padding: 3% 5%; */
    border-radius: 10px;
    cursor: pointer;
    font-family: 'numberFont', Fallback, sans-serif;
    font-size: 24px;
    text-align: center;
    min-width: 10vh;
    min-height: 3.5vh;
    margin: 0 10%;
}

.diff1, .diff2 {
    min-width: 63px;
}

.diff3 {
    min-width: 75px;
}

.diffButton:focus {
    outline: 0;
}

.diffBar button:nth-of-type(1) {
    background-color: #00ff1a;
}

.diffBar button:nth-of-type(2) {
    background-color: #ffff00;
}

.diffBar button:nth-of-type(3) {
    background-color: #ff0000;
}

.new-best-score-timer {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    color: white;
    padding: 5px;
    border-radius: 5px;
    -webkit-animation: rainbow 9s ease infinite;
    -z-animation: rainbow 9s ease infinite;
    -o-animation: rainbow 9s ease infinite;
    animation: rainbow 9s ease infinite;
    background-size: 1800% 1800%;
}

.covered {
    display: none;
}

.mine {
    width: 95%;
    background-color: tomato;
    border-radius: 5%;
}

.flagged {
    background: url('assets/flag.png');
    background-size: 75%;
    background-repeat: no-repeat;
}

.game-hud {
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* max-width: 47vh; */
    min-height: 14vh;
    max-height: 14vh;
    /* min-width: 20vh; */
    width: 29rem;
    align-items: center;
    padding-bottom: 20px;
}

.doom-shula {
    width: 50%;
    padding: 8px 6px;
    /* flex-basis: 50%; */
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    -z-animation: rainbow 9s ease infinite;
    -o-animation: rainbow 9s ease infinite;
    animation: rainbow 9s ease infinite;
    background-size: 1800% 1800%;
    border-radius: 31%;
    transition: ease-in;
    flex-basis: auto;
    margin-right: 6%;
    max-width: 6rem;
}

.hints-and-safeclicks {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* min-width: 52px; */
    margin: auto 1vh auto -2.75vh;
    width: 33%;
    padding: 6% 7% 4% 1%;
    flex-basis: auto;
}

.hint-lightbulb {
    max-height: 5vh;
    cursor: pointer;
}

.hints {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: flex-start;
    margin: auto;
}

.safe-clicks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: flex-end;
    margin: auto;
}

.safe-clicks-shield {
    max-height: 5vh;
    cursor: pointer;
}

.time-and-lives {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.lives {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
}

.heart {
    max-width: 5vh;
}

.edit-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-width: 25rem;
}

.set-mines {
    max-width: 5vh;
}

.redo-move {
    max-width: 5vh;
}


.edit-button {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    /* background-color: silver; */
}

.edit-button:focus {
    outline: 0;
}

/* Animations */

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}